<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Vizra | Browser based VJing software by Rumyra</title>

  <link rel="stylesheet" href="styles/style.css">
  
</head>
<body>
  
<div class="container">
    
    <section id="screen">

      <div class="screen">
        <section class="video">
          <video autoplay loop>
            <source src="library/cartoons1/thundercats01.mp4" type="video/mp4">
          </video>
        </section>
        <section class="dom">
          <svg></svg>
          <canvas></canvas>
        </section>
      </div>


      <div class="screen">
        <section class="video">
          <video autoplay loop>
            <source src="library/cartoons1/heman.mp4" type="video/mp4">
          </video>
        </section>
        <section class="dom">
          <svg></svg>
          <canvas></canvas>
        </section>
      </div>

      <div id="black"></div>
      <div id="white"></div>
    </section>
  </div>

  
<script src="scripts/bezier.js"></script>
<script src="scripts/d3.min.js"></script>
<script src="scripts/midiCont.js"></script>
<script src="scripts/sets.js"></script>

<script src="scripts/visualFuncs.js"></script>
<script src="scripts/library.js"></script>
<script src="scripts/control.js"></script>
<script src="scripts/setup.js"></script>

<script type="text/javascript">

var setCounter = 0;
var currentSet = sets[setCounter];
function swapSet() {
  if (setCounter === (sets.length-1)) {
    setCounter = 0;
  } else {
    setCounter++;
  }
  currentSet = sets[setCounter];
}

var assetCounter = 0;
function swapAsset() {

  if (currentSet.type === 'video') {

    changeVidSrc(videoEls[screenNo], 'library/'+currentSet.name+'/'+library.video[currentSet.name][assetCounter]+'.mp4');

    console.log(library.video[currentSet.name][assetCounter]);

    showVideo(vidScreens[screenNo], domScreens[screenNo]);


  } else {

    var svg = d3.select(svgEls[screenNo]);
    svg.selectAll('*').remove();
    showCss(vidScreens[screenNo], domScreens[screenNo]);
    screenDomFunc[screenNo] = library.dom[currentSet.name][assetCounter];
    // reqAnim();

  }

  if (assetCounter === 7) {
    assetCounter = 0;
  } else {
    assetCounter++;
  }

  if (screenNo === 1) {
    screenNo = 0;
  } else {
    screenNo = 1;
  }

}
// swapAsset();

// function swapVid() {
//   // console.log('called');
//   var newInt = getRandomInt(0,37);
//   var vidEl = videoElOne;
//   var vidSrc = allTheVids.videos[newInt];
//   console.log(vidSrc, vidEl);
//   if (counter%2 === 0) {
//     vidEl = videoElTwo;
//   }
//   changeVidSrc(vidEl, 'media/'+allTheVids.videos[newInt]+'.mp4');
//   counter++;
// }

setInterval(swapAsset, 10000);
setInterval(swapSet, 80000);


</script>
</body>
</html>