<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="/favicon.ico" />

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Vizra | Browser based VJing software by Rumyra</title>

  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/effects.css">

  <style type="text/css">
    html, body, .container {background-color: black;}
    #screen {
      -webkit-mask-image: url('library/danny/mask.svg');

      -webkit-mask-size: 65% 65%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
    }
  </style>

</head>
<body>

<div class="container">

    <section id="screen">

      <div class="screen">
        <section class="video">
          <video autoplay loop>
            <source src="library/livejs/ljstitle.mp4" type="video/mp4">
          </video>
        </section>
        <section class="dom">
          <canvas></canvas>
        </section>
      </div>


      <div class="screen">
        <section class="video">
          <video autoplay loop>
            <source src="library/livejs/ljslogos.mp4" type="video/mp4">
          </video>
        </section>
        <section class="dom">
          <canvas></canvas>
        </section>
      </div>

    </section>
  </div>

<!-- ~~~~~~~~~~~~~~~~ external resources -->
<!-- need this for a bezier value transform TODO: move bezier function out and into module -->
<script src="vendor/bezier.js"></script>

<!-- ~~~~~~~~~~~~~~~~ internal resources -->
<!-- initiate canvas & access size, distribution etc... -->
<!-- audio helpers -->
<script src="scripts/Viz_audio.js"></script>
<!-- effects -->
<script src="scripts/Viz_FX.js"></script>
<!-- draw shape helpers -->
<script src="scripts/Viz_draw.js"></script>
<!-- visuals (set of functions) -->
<script src="scripts/Viz_VIZ.js"></script>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ data -->
<!-- midi controller values TODO: move all midi controllers into separate modules -->
<script src="data/midi_controllers.js"></script>
<!-- all assets and paths -->
<script src="data/library.js"></script>
<!-- configuration of assets into sets -->
<script src="data/sets.js"></script>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ app -->
<!-- controller - literally: you press midi buttons it tells the screen what to do -->
<script src="scripts/control.js"></script>
<!-- initiate everything that's needed, wait for analysis and draw on screen -->
<script src="scripts/app.js"></script>

</body>
</html>