<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Vizra | Browser based VJing software by Rumyra</title>

  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/effects.css">
  
</head>
<body>
  
<div class="container">
    
    <section id="screen">

      <div class="screen">
        <section class="video">
          <video autoplay loop>
            <source src="library/livejs/ljstitle.mp4" type="video/mp4">
          </video>
        </section>
        <section class="dom">
          <!-- <svg></svg> -->
          <canvas></canvas>
        </section>
      </div>


      <div class="screen">
        <section class="video">
          <video autoplay loop>
            <source src="library/livejs/ljslogos.mp4" type="video/mp4">
          </video>
        </section>
        <section class="dom">
          <!-- <svg></svg> -->
          <canvas></canvas>
        </section>
      </div>

      <div id="black"></div>
      <div id="white"></div>
    </section>
  </div>

  
<script src="scripts/bezier.js"></script>
<script src="scripts/d3.min.js"></script>
<script src="scripts/midiCont.js"></script>
<script src="scripts/sets.js"></script>
<script src="scripts/VizFX.js"></script>
<!-- <script src="scripts/VixDraw.js"></script> -->

<script src="scripts/visualFuncs.js"></script>
<!-- <script src="scripts/coldfrontVF.js"></script> -->
<script src="scripts/library.js"></script>
<script src="scripts/control.js"></script>
<script src="scripts/setup.js"></script>

<script type="text/javascript">


</script>
</body>
</html>