<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Vizra | Browser based VJing software by Rumyra</title>

  <link rel="stylesheet" href="styles/style.css">
  
</head>
<body>
  
<div id="screen">
  <section class="track track_left"></section>
  <section class="track track_right"></section>
</div>

<script type="text/javascript" src="scripts/audio.js"></script>
<script type="text/javascript" src="scripts/midi.js"></script>

<script type="text/javascript">
  //load library
  //on midi get library item
  // if this item type do this if not do this if not do this
  // work out how to switch for d3 and dom /shrug


</script>

</body>
</html>