@import '_reset.css';

:root {
  --vertical: 2vh;
  --gutter: 2vw;
}

/*~~~~~~~~~~~~~~~~~ Controller View */
.controller {position: relative;}
.controller h1, .controller nav {box-sizing: border-box; padding: var(--vertical) var(--gutter);}
.controller h1 {width: 35vw;}
.controller nav {width: 65vw;}
.controller > div {
  width:100vw; height:100vh;
  display:none; overflow:auto;
}
.controller > div > section {box-sizing: border-box; padding: var(--vertical) var(--gutter);}
.controller > div > section:nth-of-type(1) {
  min-height: 100vh; float: left; width: 35vw;
}
.controller > div > section:nth-of-type(2) {width: 65vw;}
#create {display: block;}

/* ~~~~~~~~~~~~~ screen view */
#screen {
  height: 100vh; width:100%;
  box-sizing: border-box;
  overflow: hidden; position: relative;
  background-color: black;
}
#screen > div,
#screen > div > section {
  position: absolute; top:0px; left:0px;
  width: 100%; height: 100vh;
}

.video {display:none;}
.video video {
  width:100%; height:auto;
}

svg {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

canvas {padding:0px; margin:0px;}

/*black & white covers for fading in and out*/
#black, #white {
  height: 100vh; width:100%;
  position: absolute; top:0px; left:0px;
}
#black {background-color: black;}
#white {background-color: white;}

